html,body{
   
    height: 100%;
    width:100%;
    margin:0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #addToLibraryBTN{
        width: 10%;
        height: 30%;
        padding: 10px;
        margin-bottom: 10px;
        border-style: none;
        background-color: rgb(46, 218, 46);
        border-radius: 5%;
        
    }
}
.header{
    border-style: solid;
    border-color: black;
    
}
.main-content{
   
    
    

    #bookshelf{
        border-style: solid;
        border-color: red;
        display: grid;
       
        grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
        
    }
}

.new-div{
    border-style: solid;
    border-color: black;
   
    padding: 10px;
    margin: 10px;

    
    
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    input[type = text] {
        padding: 8px 0px 8px 0px;
        width: 100%;
    }
    input[type = number]{
        padding: 8px 0px 8px 0px;
        width: 100%;
    }
}