html,body{
   
    height: 100%;
    width:100%;
    margin:0;
}
body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3482aa;
    #addToLibraryBTN{
        width: 10%;
        height: 30%;
        padding: 10px;
        margin-bottom: 10px;
        border-style: none;
        background-color: rgb(46, 218, 46);
        border-radius: 5%;
        
    }
}
.header{
    border-style: solid;
    border-color: black;
    
}
.main-content{
   grid-row: 2/-1;
    
   background: #e9e2d0; 

    #bookshelf{
        border-style: solid;
        border-color: red;
        display: grid;
       
        grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
        height: 100%;
    }
}

.newBookCard{
    border-style: solid;
    border-color: black;
   
    width: fit-content;
    margin: 10px ;
    padding: 10px 15px 20px 15px;


    
    
    .close-button{
        display: block;
        text-align: right;
        text-decoration: none;
        font-size: xx-large;
        
    }

}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    input[type = text] {
        padding: 8px 0px 8px 0px;
        width: 100%;
    }
    input[type = number]{
        padding: 8px 0px 8px 0px;
        width: 100%;
    }
}

/*For  status switch*/
.changeProgress{
  display: block;
  margin-top: 1em;
  height: 10px;
}

input:checked {
  border: none;
  
}