html,body{
   
    height: 100%;
    width:100%;
    margin:0;
}

.main-content{
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    .header{
        border-style: solid;
        border-color: black;
        
    }

    #bookshelf{
        border-style: solid;
        border-color: red;
        display: grid;
       
        grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
        
    }
}

.new-div{
    border-style: solid;
    border-color: black;
   
    padding: 10px;
    margin: 10px;

    
    
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    input[type = text] {
        padding: 8px 0px 8px 0px;
        width: 100%;
    }
    input[type = number]{
        padding: 8px 0px 8px 0px;
        width: 100%;
    }
}